@use "variable";
@use "main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background: variable.$Verylightgray;
  width: 100%;
  height: 100vh;
}
